@use '../base';
@use '../utils';

.link-btn {
    font-size: base.$fs-20;
    background-color: base.$clr-orange;
    color: base.$clr-white;
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 80%;
    max-width: 16.25rem;

    &:hover,
    &:focus {
        cursor: pointer;
        outline: dashed base.$clr-orange;
        outline-offset: 0.25em;
    }

    span {
        background-color: base.$clr-dark-grey;
        padding: base.$spacer-1  base.$spacer-4;
    }

    img {
        padding: base.$spacer-1;
    }
}
