@use 'sass:math';
@use '../base';
@use '../utils';

.link-btn {
    font-size: base.$fs-20;
    background-color: base.$clr-orange;
    color: base.$clr-white;
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 80%;
    max-width: 16.25rem;

    &:hover,
    &:focus {
        cursor: pointer;
        outline: dashed base.$clr-orange;
        outline-offset: 0.25em;
    }

    span {
        background-color: base.$clr-dark-grey;         
        flex: 1 1 80%;
        text-align: center;
        padding: math.div(base.$spacer-1, 2);
    }

    @include utils.mQ(67.5rem) {
        span {           
            padding: base.$spacer-1;
        }
    }

}

.link-img-wrapper {
    flex: 1 1 20%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.btn-absolute {
    position: absolute;
    z-index: 10000;
    top: 0;
    right: 0;
    flex-direction: row-reverse;
}