@use 'sass:math';
@use '../base';
@use '../utils';

.location {
    min-height: 100vh;
}

.map {
    position: relative;

    .leaflet-container {
        height: 34.375rem;
    }

    @include utils.mQ(38.75rem) {
        .leaflet-container {
            height: 37.5rem;
        }
    }
}

.address {
    display: flex;
    flex-direction: column;
    font-style: normal;
    gap: base.$spacer-1;

    @include utils.mQ(38.75rem) {
        flex: 1 1 80%;
    }
}


.location-address-wrapper {
    padding-block: base.$spacer-4;

    @include utils.mQ(38.75rem) {
        display: flex;
        gap: base.$spacer-4;
        justify-content: space-between;
        max-width: 69.375rem;
        margin: auto;
    }
}

.location-address-heading {
    font-size: base.$fs-50;
    // margin-block-start: base.$spacer-1 * 1.25;
    margin-block-end: base.$spacer-4;

    @include utils.mQ(38.75rem) {
        flex: 1 1 30%;
        font-size: base.$fs-55;
    }

    @include utils.mQ(67.5rem) {
        font-size: base.$fs-70;
    }
}

.street {
    font-size: base.$fs-32;
    color: base.$clr-orange;

    @include utils.mQ(38.75rem) {
        // font-size: base.$fs-36;


    }

    @include utils.mQ(67.5rem) {
        font-size: base.$fs-36;
    }

}


.address-text {
    font-size: base.$fs-18;
    max-width: 33.75rem;

    @include utils.mQ(67.5rem) {
        font-size: base.$fs-22;
    }
}

.address-details {
    display: flex;
    flex-direction: column;
    gap: math.div(base.$spacer-1, 4);

    &>span {
        font-size: base.$fs-18;
    }

    &>p {
        font-size: base.$fs-18;
        max-width: 33.75rem;
    }


    @include utils.mQ(67.5rem) {

        &>span {
            font-size: base.$fs-22;
        }

    }
}

