/* ----------------------------------- */
/*          CUSTOM PROPERTIES          */
/* ------------------------------------*/

$clr-orange: #d5966c ;//hsl(24, 49%, 84%)
$clr-dark-grey: hsl(0 0% 8%); //#151515
$clr-lt-grey: hsl(0 0% 27%); //#444444
$clr-white: hsl(0 0% 100%); //#FFFFFF

/* ----------------------------------- */
/*          FONT FAMILIES              */
/* ------------------------------------*/
$ft-big-shoulders:  'Big Shoulders Display', cursive;
$ft-outfit: 'Outfit', sans-serif;

/* ----------------------------------- */
/*          FONT SIZES                 */
/* ------------------------------------*/
$fs-16: 1rem; //16px
$fs-18: 1.125rem; //18px
$fs-20: 1.25rem; //20px
$fs-22: 1.375rem; //22px
$fs-24: 1.5rem; //24px
$fs-40: 2.5rem; //40px
$fs-50: 3.125rem; //50px
$fs-60: 3.75rem; //60px
$fs-96: 6rem; //96px

/* ----------------------------------- */
/*          SPACINGS                   */
/* ------------------------------------*/

$spacer-1: 1rem;
$spacer-2: 1.65rem;
$spacer-3: 2.5rem;
$spacer-4: 3rem;
$spacer-5: 5.5rem;
$spacer-6: 8.5rem;


/* ----------------------------------- */
/*       FONT WEIGHTS                  */
/* ------------------------------------*/
$fw-light: 300;
$fw-normal: 400;
$fw-black: 900;