@use '../base';
@use '../utils';

.footer-container {
    @include utils.mQ(38.75rem) {
        display: flex;
        justify-content: space-between;
        max-width: 69.375rem;
        margin: auto;
    }

}

.social-icons {

    &>* {
        display: flex;
        justify-content: flex-start;
        gap: 3rem;
    }

    @include utils.mQ(38.75rem) {
        flex: 1 1 25%;

        &>* {
            justify-content: flex-end;
        }
    }
}

.social-item {
    &:hover,
    &:focus {
        cursor: pointer;
        outline: dashed currentColor;
        outline-offset: 0.25em;
    }
}

.location-footer {
    background-color: base.$clr-orange;
    color: base.$clr-dark-grey;

    a {
        filter: invert(100%) sepia(4%) saturate(100%) hue-rotate(3deg) brightness(100%) contrast(100%);      
    }
}

.footer-heading {
    @include utils.mQ(38.75rem) {
        flex: 1 1 25%;
    }
}

.footer-content {
    @include utils.mQ(38.75rem) {
        flex: 1 1 50%;
        margin: 0;
    }
}